.vs
.user
.suo
.userosscache
.sln.docview

[Bb]in
[Oo]bj
out
out-tsc

.db
.db-shm
.db-wal

appsettings.Development.json

urlshortener-angularnode_modules
urlshortener-angulardist
urlshortener-angular.angular

.env
.env

.DS_Store
Thumbs.db